<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='iti-logo.png') }}" alt="ITI Logo" class="image-logo"> 
    </div>
    <h1>Instructor Information</h1>
    <h2>Welcome, {{ instructor.Ins_Name }}</h2>
    <p><strong>Degree:</strong> {{ instructor.Ins_Degree }}</p>
    <p><strong>Salary:</strong> ${{ instructor.Salary }}</p>

    <h3>Courses You Teach</h3>
    <ul>
        {% for course in courses %}
            <li>{{ course.C_Name }}</li>
        {% endfor %}
    </ul>

    <h3>Total Students Taught: {{ student_number }}</h3>

    <a href="{{ url_for('home') }}">Logout</a>
</body>
</html>
